.signup{
  text-align: center;
  padding-bottom: 50px;
  margin-top: 60px;
  color: rgba(34, 43, 217, 0.874);
  background-repeat: no-repeat;
  background-position: 50%;
}

.signup h1 {
  margin-bottom: 30px;
}

.toggle {
  cursor: pointer;
  color: rgb(42, 17, 189);
}

error-p {
  color: red;
}
