.img-fluid{
  width: 1300px;
  object-fit:cover;
  height:510px ;
  margin-bottom: -15px;
}
.home-image{
  object-fit:cover;
  height: 500px;
  width: 100%;

}

.xyz{
  padding: auto;
  color:  rgba(247, 247, 4, 0.895);
  font-weight: bold;
  font-size: 60px;
  font-family:cursive;
  text-shadow: #ffff -1px -1px 0px, #ffffff -1px 1px 0px, #ffffff 1px 1px 0px, #ffffff 1px -1px 0px;
}
.abc{
  padding: auto;
  color: rgb(26, 161, 26);
  font-weight: bold;
  font-size: 60px;
  font-family:cursive;
  text-shadow: #ffff -1px -1px 0px, #ffffff -1px 1px 0px, #ffffff 1px 1px 0px, #ffffff 1px -1px 0px;
}
h2{
  margin-bottom: 10%;
}

.about{
  background-image: url('https://images.pexels.com/photos/4969107/pexels-photo-4969107.jpeg?auto=compress&cs=tinysrgb&w=600');
  padding-top: 3%;
  margin-top: 0;
  background-color: black;
  text-align: center;
  object-fit: cover;
}
h1{
  color:#fff;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
p{
  text-align: center;
  color: #ffffff;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 40px;
}

.vdo-fluid{
  width: 100%;
  object-fit:cover;
  height:700px ;
  margin-top: -20px;
  position: sticky;
  z-index: 0;
  position:sticky;
}
.section{
  background-color: black;
}
.form{
  text-align: center;
  margin-left: 37%;
}

.button{
  background-color: orange;
  padding: 2px;
}
.footer{
  background-image: url('https://images.pexels.com/photos/4969107/pexels-photo-4969107.jpeg?auto=compress&cs=tinysrgb&w=600');
  margin-top: -2%;
  padding-top: 30px;
  padding-bottom: 8%;
}
